@model Pandu.Models.Usertable

    <h1> Welcome To Login Page</h1>


@using(Html.BeginForm("Login","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if(ViewBag.message!=null)
    {
        <div style="border:5px solid red">

            @ViewBag.message
            
        </div>
    }
  <html>
<head></head>
    <body>
        <table>

            <tr>

                <td>@Html.LabelFor(a => a.Username)</td>
                
                <td>@Html.TextBoxFor(a => a.Username)</td>

                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
           
           
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>

                <td>@Html.TextBoxFor(a => a.Password) </td>

                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>

            <tr>

                <td>   </td>

                <td><input type="submit" value="Login">
                <br/>
        
            </tr>

        </table>
        </body>

</html>
}
@section scripts  {
    @Scripts.Render("~/bundles/jqueryval")
    }

